<!--
  This awesome resume was created {{#if resume.basics.name}}by {{resume.basics.name}} {{/if}}with the JSON resume schema: https://jsonresume.org/
  It uses the Eloquent theme: https://github.com/thibaudcolas/jsonresume-theme-eloquent
-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1, minimal-ui">
  <title>{{resume.basics.name}}{{#if resume.basics.label}} — {{resume.basics.label}}{{/if}}</title>

  <style>
    {{> css}}
  </style>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta http-equiv="cleartype" content="on">
  <meta name="theme-color" content="#2d89ef">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="apple-mobile-web-app-title" content="{{resume.basics.name}}">
  <meta name="application-name" content="{{resume.basics.name}}">

  <meta name="author" content="{{resume.basics.name}}">
  <meta name="description" content="{{#if resume.basics.summary}}{{truncate resume.basics.summary 120}}{{else}}{{resume.basics.name}}{{#if resume.basics.label}} — {{resume.basics.label}}{{/if}}{{/if}}">

  {{#if resume.basics.label}}
    <meta name="twitter:label1" content="Job">
    <meta name="twitter:data1" content="{{resume.basics.label}}">
  {{/if}}
  {{#if resume.basics.website}}
    <meta name="twitter:label2" content="Site">
    <meta name="twitter:data2" content="{{resume.basics.website}}">
  {{/if}}
</head>
<body>
  <div id="top" class="container-fluid" itemscope itemtype="http://schema.org/Person" role="document">
    <div class="row">

      <section id="profile" class="col-md-4 card-wrapper profile-card-wrapper">
        <div class="card">
          {{#resume.basics}}
            {{#if picture}}
              <img class="profile-pic media-object img-circle center-block" src="{{picture}}" alt="" width="128" height="128" itemprop="image">
            {{/if}}

            {{#if name}}
              <h1 class="text-center" itemprop="name">{{name}}</h1>
            {{/if}}
            {{#if label}}
              <h2 class="text-center text-muted" itemprop="jobTitle">{{label}}</h2>
            {{/if}}

            <hr>

            <ul class="basics nav nav-stacked">
              {{#if phone}}
                <li class="basics-item">
                  <a href="tel:{{scramblePhone phone}}" data-scrambled-phone-link>
                    <span class="icon text-muted"><i aria-hidden="true" class="icon-lg icon-phone"></i></span>
                    <span class="info" data-scrambled-phone-text>{{obfuscateText phone}}</span>
                  </a>
                </li>
              {{/if}}
              {{#if location}}
                <li class="basics-item">
                  {{#location}}
                    <a href="{{mapURL this}}" target="_blank" rel="noreferrer noopener" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <span class="icon text-muted"><i aria-hidden="true" class="icon-lg icon-location-arrow"></i></span>
                      <span class="info">
                        {{#if address}}<span itemprop="streetAddress">{{address}},</span>{{/if}}
                        {{#if city}}<span itemprop="addressLocality">{{city}},</span>{{/if}}
                        {{#if postalCode}}<span itemprop="postalCode">{{postalCode}},</span>{{/if}}
                        {{#if region}}<span itemprop="addressRegion">{{region}},</span>{{/if}}
                        {{#if countryCode}}<span itemprop="addressCountry">{{countryCode}}</span>{{/if}}
                      </span>
                    </a>
                  {{/location}}
                </li>
              {{/if}}
              {{#if email}}
                <li class="basics-item">
                  <a href="mailto:{{scrambleText email}}" data-scrambled-email-link>
                    <span class="icon text-muted"><i aria-hidden="true" class="icon-lg icon-envelope"></i></span>
                    <span data-scrambled-email-text class="info">{{obfuscateText email}}</span>
                  </a>
                </li>
              {{/if}}
              {{#if website}}
                <li class="basics-item">
                  <a href="{{website}}" rel="author" target="_blank" rel="noreferrer noopener" itemprop="url">
                    <span class="icon text-muted"><i aria-hidden="true" class="icon-lg icon-chain"></i></span>
                    <span class="info">{{sanitizeURL website}}</span>
                  </a>
                </li>
              {{/if}}
              <!--
              <li class="basics-item hidden-print js-download-trigger" style="display: none;">
                <a id="js-download" href="#download">
                  <span class="icon text-muted"><i aria-hidden="true" class="icon-lg icon-download"></i></span>
                  <span class="info">Download this resume</span>
                </a>
              </li>
              -->
            </ul>

            <hr>

            {{#if profiles}}
              <ul class="social-profiles nav nav-justified">
                {{#each profiles}}
                  <li class="profile-item">
                    <a href="{{url}}" target="_blank" rel="noreferrer noopener">
                      <span class="icon"><i aria-hidden="true" class="icon-lg icon-{{normalizeNetwork network}} network-{{normalizeNetwork network}}"></i></span>
                      <span class="info text-muted hidden-sm hidden-md hidden-lg">{{network}}</span>
                    </a>
                  </li>
                {{/each}}
              </ul>
            {{/if}}

          {{/resume.basics}}

          <ul class="nav nav-justified hidden-xs hidden-sm">
            <li><a href="#top" class="text-muted" title="Scroll to top"><i aria-hidden="true" class="icon-chevron-up"></i><span class="sr-only">Go to top</span></a></li>
          </ul>
        </div>
      </section>

      {{#if resume.basics.summary}}
        <section class="col-md-8 card-wrapper">
          <div class="card">
            <div class="detail" id="about">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#about">
                  <i aria-hidden="true" class="icon-lg icon-user"></i> About
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <div class="row">
                <div class="col-xs-12">
                  <p itemprop="description">{{nl2br resume.basics.summary}}</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      {{/if}}

      <section class="col-md-8 card-wrapper details-card-wrapper">
        <div class="card">

          {{#if resume.work}}
            <div class="detail" id="experience">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#experience">
                  <i aria-hidden="true" class="icon-lg icon-building"></i> Experience
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.work}}
                  <li class="detail-item row" id="{{itemID 'experience' @index ../resume.work.length}}" itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
                    <div class="col-sm-9 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'experience' @index ../resume.work.length}}">#</a>
                      <h4>
                        <strong>{{position}}</strong>
                        {{~#if company~}}
                          ,&nbsp;
                          {{#if website}}
                            <a href="{{website}}"  target="_blank" rel="noreferrer noopener" itemprop="url"><span itemprop="name">{{company}}</span></a>
                          {{else}}
                            <span itemprop="name">{{company}}</span>
                          {{/if}}
                        {{/if}}
                      </h4>

                      {{#if startDate}}
                        <p class="visible-xs-block text-muted">
                          <small>
                            <time datetime="{{startDate}}">{{formatMMMMYYYY startDate}}</time>&nbsp;—&nbsp;
                            {{#if endDate}}
                              <time datetime="{{endDate}}">{{formatMMMMYYYY endDate}}</time>
                            {{else}}
                              <time>Present</time>
                            {{/if}}
                            &nbsp;<span class="duration-counter"><i aria-hidden="true" class="icon-clock-o"></i>&nbsp;{{humaneDuration startDate endDate}}</span>
                          </small>
                        </p>
                      {{/if}}

                      <p>{{nl2br summary}}</p>

                      {{#if highlights}}
                        <ul class="detail-highlights">
                          {{#each highlights}}
                            <li>{{.}}</li>
                          {{/each}}
                        </ul>
                      {{/if}}
                    </div>

                    {{#if startDate}}
                      <div class="col-sm-3 detail-item-sidebar text-muted text-center hidden-xs">
                        <p>
                          <time datetime="{{startDate}}">{{formatMMMMYYYY startDate}}</time>
                          <br>
                          &nbsp;—&nbsp;
                          {{#if endDate}}
                            <br>
                            <time datetime="{{endDate}}">{{formatMMMMYYYY endDate}}</time>
                          {{else}}
                            <time>Present</time>
                          {{/if}}
                        </p>
                        <p>
                          <i aria-hidden="true" class="icon-clock-o icon-left"></i>&nbsp;{{humaneDuration startDate endDate}}
                        </p>
                      </div>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.volunteer}}
            <div class="detail" id="projects">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#projects">
                  <i aria-hidden="true" class="icon-lg icon-bookmark"></i> Projects
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.volunteer}}
                  <li class="detail-item row" id="{{itemID 'project' @index ../resume.volunteer.length}}" itemprop="memberOf" itemscope itemtype="http://schema.org/Organization">
                    <div class="col-sm-12 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'project' @index ../resume.volunteer.length}}">#</a>
                      <h4>
                        {{#if website}}
                          <a href="{{website}}"  target="_blank" rel="noreferrer noopener" itemprop="url"><strong itemprop="name">{{organization}}</strong></a>
                        {{else}}
                          <strong itemprop="name">{{organization}}</strong>
                        {{/if}}
                        {{~#if position~}}
                          ,&nbsp;<span>{{position}}</span>
                        {{/if}}
                      </h4>
                      <h4>
                        {{#if ios}}
                        <a href="{{ios}}" target="_blank" rel="noreferrer noopener" itemprop="url">
                          <strong itemprop="name">ios link</strong>
                        </a>
                        {{/if}}
                      </h4>
                      <h4>
                        {{#if android}}
                        <a href="{{android}}" target="_blank" rel="noreferrer noopener" itemprop="url">
                          <strong itemprop="name">android link</strong>
                        </a>
                        {{/if}}
                      </h4>
                      {{#if startDate}}
                        <p class="visible-xs-block text-muted">
                          <small>
                            <time datetime="{{startDate}}">{{formatMMMMYYYY startDate}}</time>&nbsp;—&nbsp;
                            {{#if endDate}}
                              <time datetime="{{endDate}}">{{formatMMMMYYYY endDate}}</time>
                            {{else}}
                              <time>Present</time>
                            {{/if}}
                            &nbsp;<span class="duration-counter"><i aria-hidden="true" class="icon-clock-o"></i>&nbsp;{{humaneDuration startDate endDate}}</span>
                          </small>
                        </p>
                      {{/if}}

                      <p itemprop="description">{{nl2br summary}}</p>

                      {{#if highlights}}
                        <ul class="detail-highlights">
                          {{#each highlights}}
                            <li>{{.}}</li>
                          {{/each}}
                        </ul>
                      {{/if}}
                    </div>

                    {{#if startDate}}
                      <div class="col-sm-3 detail-item-sidebar text-muted text-center hidden-xs">
                        <p>
                          <time datetime="{{startDate}}">{{formatMMMMYYYY startDate}}</time>
                          <br>
                          &nbsp;—&nbsp;
                          {{#if endDate}}
                            <br>
                            <time datetime="{{endDate}}">{{formatMMMMYYYY endDate}}</time>
                          {{else}}
                            <time>Present</time>
                          {{/if}}
                        </p>
                        <p>
                          <i aria-hidden="true" class="icon-clock-o icon-left"></i>&nbsp;{{humaneDuration startDate endDate}}
                        </p>
                      </div>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.education}}
            <div class="detail" id="education">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#education">
                  <i aria-hidden="true" class="icon-lg icon-graduation-cap"></i> Education
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.education}}
                  <li class="detail-item row" id="{{itemID 'education' @index ../resume.education.length}}" itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
                    <div class="col-sm-9 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'education' @index ../resume.education.length}}">#</a>
                      <h4>
                        <strong>{{area}}</strong>
                        {{~#if studyType~}}
                          ,&nbsp;<span>{{studyType}}</span>
                        {{/if}}
                      </h4>

                      {{#if startDate}}
                        <p class="visible-xs-block text-muted">
                          <small>
                            <time datetime="{{startDate}}">{{formatYYYY startDate}}</time>
                            &nbsp;—&nbsp;
                            {{#if endDate}}
                              <time datetime="{{endDate}}">{{formatYYYY endDate}}</time>
                            {{else}}
                              <time>Present</time>
                            {{/if}}
                            &nbsp;<span class="duration-counter"><i aria-hidden="true" class="icon-clock-o"></i>&nbsp;{{humaneDuration startDate endDate}}</span>
                          </small>
                        </p>
                      {{/if}}

                      {{#if institution}}
                        <p class="text-muted">
                          <span itemprop="name">{{institution}}</span>
                          {{~#if gpa~}}
                            ,&nbsp;GPA: {{gpa}}
                          {{/if}}
                        </p>
                      {{/if}}

                      {{#if courses}}
                        <ul class="list-inline labels">
                          {{#courses}}<li class="label label-keyword">{{.}}</li>{{/courses}}
                        </ul>
                      {{/if}}
                    </div>

                    {{#if startDate}}
                      <div class="col-sm-3 detail-item-sidebar text-muted text-center hidden-xs">
                        <p>
                          <time datetime="{{startDate}}">{{formatYYYY startDate}}</time>
                          &nbsp;—&nbsp;
                          {{#if endDate}}
                            <time datetime="{{endDate}}">{{formatYYYY endDate}}</time>
                          {{else}}
                            <time>Present</time>
                          {{/if}}
                        </p>
                        <p>
                          <i aria-hidden="true" class="icon-clock-o icon-left"></i>&nbsp;{{humaneDuration startDate endDate}}
                        </p>
                      </div>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.skills}}
            <div class="detail" id="skills">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#skills">
                  <i aria-hidden="true" class="icon-lg icon-code"></i> Skills
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.skills}}
                  <li class="detail-item row" id="{{itemID 'skill' @index ../resume.skills.length}}">
                    <div class="col-xs-12 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'skill' @index ../resume.skills.length}}">#</a>
                      <h4>{{name}} {{#if level}}<span class="text-muted">— <em>{{level}}</em></span>{{/if}}</h4>

                      {{#if keywords}}
                        <ul class="list-inline labels">
                          {{#keywords}}<li class="label label-keyword">{{.}}</li>{{/keywords}}
                        </ul>
                      {{/if}}
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.awards}}
            <div class="detail" id="awards">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#awards">
                  <i aria-hidden="true" class="icon-lg icon-trophy"></i> Awards
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.awards}}
                  <li class="detail-item row" id="{{itemID 'award' @index ../resume.awards.length}}">
                    <div class="col-sm-9 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'award' @index ../resume.awards.length}}">#</a>
                      {{#if picture}}
                        {{#if vertical}}
                          <div class="award-picture">
                              <a href={{picture}} target="_blank"><img class="media-object center-block" src="{{picture}}" alt="" height="300"  itemprop="image"></a/>
                            </div>
                        {{else}}
                          <div class="award-picture">
                            <a href={{picture}} target="_blank"><img class="media-object center-block" src="{{picture}}" alt="" width="300"  itemprop="image"></a/>
                          </div>
                        {{/if}}
                      {{/if}}
                      <h4 itemprop="award">
                        <strong>{{title}}</strong>
                        {{~#if awarder~}}
                          ,&nbsp;<span>{{awarder}}</span>
                        {{/if}}
                      </h4>

                      {{#if date}}
                        <p class="visible-xs-block text-muted">
                          <small>
                            Awarded on:&nbsp;<time datetime="{{date}}">{{formatMMMDDYYYY date}}</time>
                          </small>
                        </p>
                      {{/if}}

                      <p>{{nl2br summary}}</p>
                    </div>

                    {{#if date}}
                      <div class="col-sm-3 detail-item-sidebar text-muted text-center hidden-xs">
                        <p>
                          <strong>Awarded on:</strong>
                          <br>
                          <time datetime="{{date}}">{{formatMMMDDYYYY date}}</time>
                        </p>
                      </div>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.publications}}
            <div class="detail" id="publications">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#publications">
                  <i aria-hidden="true" class="icon-lg icon-book"></i> Publications
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.publications}}
                  <li class="detail-item row" id="{{itemID 'publication' @index ../resume.publications.length}}" itemscope itemtype="http://schema.org/CreativeWork">
                    <div class="col-sm-9 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'publication' @index ../resume.publications.length}}">#</a>
                      <h4>
                        <strong>
                          {{#if website}}
                            <a href="{{website}}"  target="_blank" rel="noreferrer noopener" itemprop="url" rel="author"><span itemprop="name">{{name}}</span></a>
                          {{else}}
                            <span itemprop="name">{{name}}</span>
                          {{/if}}
                        </strong>
                        {{~#if publisher~}}
                          ,&nbsp;<span itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><span itemprop="name">{{publisher}}</span></span>
                        {{/if}}
                      </h4>

                      {{#if releaseDate}}
                        <p class="visible-xs-block text-muted">
                          <small>Published on:&nbsp;<time datetime="{{releaseDate}}" itemprop="datePublished">{{formatMMMDDYYYY releaseDate}}</time></small>
                        </p>
                      {{/if}}

                      <p itemprop="description">{{nl2br summary}}</p>
                    </div>

                    {{#if releaseDate}}
                      <div class="col-sm-3 detail-item-sidebar text-muted text-center hidden-xs">
                        <p>
                          <strong>Published on:</strong>
                          <br>
                          <time datetime="{{releaseDate}}" itemprop="datePublished">{{formatMMMDDYYYY releaseDate}}</time>
                        </p>
                      </div>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.interests}}
            <div class="detail" id="interests">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#interests">
                  <i aria-hidden="true" class="icon-lg icon-heart"></i> Interests
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.interests}}
                  <li class="detail-item row" id="{{itemID 'interest' @index ../resume.interests.length}}">
                    <div class="col-xs-12 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'interest' @index ../resume.interests.length}}">#</a>
                      <h4>{{name}}</h4>

                      {{#if keywords}}
                        <ul class="list-inline labels">
                          {{#keywords}}<li class="label label-keyword">{{.}}</li>{{/keywords}}
                        </ul>
                      {{/if}}
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.languages}}
            <div class="detail" id="languages">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#languages">
                  <i aria-hidden="true" class="icon-lg icon-comment"></i> Languages
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.languages}}
                  <li class="detail-item row" id="{{itemID 'language' @index ../resume.languages.length}}">
                    <div class="col-xs-12 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'language' @index ../resume.languages.length}}">#</a>
                      <h4>
                        <strong>{{language}}</strong>
                        {{~#if fluency~}}
                          ,&nbsp;<span>{{fluency}}</span>
                        {{/if}}
                      </h4>

                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          {{#if resume.references}}
            <div class="detail" id="references">
              <h3 class="text-uppercase">
                <a class="anchor-link text-muted" href="#references">
                  <i aria-hidden="true" class="icon-lg icon-thumbs-up"></i> References
                  <span class="anchor-icon" aria-hidden="true"></span>
                </a>
              </h3>

              <ul class="list-unstyled">
                {{#each resume.references}}
                  <li class="detail-item row" id="{{itemID 'reference' @index ../resume.references.length}}">
                    <div class="col-xs-12 detail-item-content">
                      <a class="anchor-link item-anchor" href="#{{itemID 'reference' @index ../resume.references.length}}">#</a>
                      <blockquote>
                        <p itemprop="description">{{nl2br reference}}</p>
                        <footer itemprop="knows" itemscope itemtype="http://schema.org/Person"><cite title="{{name}}" itemprop="description">{{name}}</cite></footer>
                      </blockquote>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}

          <ul class="nav nav-justified visible-xs-block visible-sm-block hidden-print">
            <li><a href="#top" class="text-muted" data-scroll><i aria-hidden="true" class="icon-chevron-up"></i><span class="sr-only">Go to top</span></a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <script async defer>
    var name = '{{normalizeName resume.basics.name}}';
    window.downloadName = (name ? name + '-' : '') + 'resume.html';
    {{> javascript}}
  </script>

  {{#if resume.google_analytics_id}}
    <script>window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;ga('create', '{{ resume.google_analytics_id }}','auto');ga('send','pageview');</script>
    <script src='https://www.google-analytics.com/analytics.js' async defer></script>
  {{/if}}
</body>
</html>
